.navigation {
  align-items: center;
  margin-top: 15px;
}
.navHeader {
}

.navButtonHolder {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  gap: 30px;
}
.navButton {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.navButton:hover {
  color: grey;
}
.active {
  color: grey; /* Or any color you like */
}
.header {
  font-weight: 450;
}
