.custom-tile-highlight {
  background-color: transparent;
  color: black;
}
.image-container {
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent images from wrapping to the next line */
}

.image-wrapper {
  margin-right: 10px;
  text-align: center; /* Center align the text */
}

.image-wrapper img {
  width: auto;
  height: 200px;
}

.image-wrapper p {
  margin-top: 5px; /* Add margin between image and text */
}
