.field-input {
  width: 50%;
}

.input-lable {
  width: 50%;
}

.half-width {
  width: 80%;
}
.third-width {
  width: 30%;
}

.input-header {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 0.25em;
}
